#mapContact {
    display: none;
}

.contactPic {
    width: 100%;
    height: 30%;
}

.contactInfo h2 {
    font-weight: lighter;
    margin-bottom: 5px;
}

.contactInfo > div:first-child {
    width: 50%;
}

form {
    display: flex;
    justify-content: space-between;
    padding-inline: 10%;
}

form img {
    width: 400px;
}

.contactInfo {
    width: 50%;
    flex-direction: column;
    display: flex;
}

.nameAndPhone {
    display: flex;
    justify-content: space-between;

}

.nameAndPhone div {
    width: 40%;
}

.nameAndPhone > :last-child  input{
    align-self: flex-end;
    margin-left: auto;
}

.nameAndPhone div h3 {
    width: 80%
}

.nameAndPhone div input {
    height: 30px;
    width: 100%;
    box-sizing: border-box;
    border: solid 1px;
}

textarea {
    border: solid 1px;
    height: 300px;
    width: 99%;
}



#sendBtn {
    width: 100px;
    margin-top: 10px;
    transform-origin: top left;
    transform: scale(1.0);
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: blueviolet;
    color: white;
}

#sendBtn:hover {
    cursor: pointer;
}

.otp {
    display: none;
    position: fixed;
    border: orange;
    border-style: solid;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 380px;
    padding-inline: 10px;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
    z-index: 9999;
}

.otp i {
    position: relative;
    left: 100%;
    font-size: 35px;
    transform: translateX(-100%);
}

.otp i:hover {
    cursor: pointer;
}

.otp-cells {
    display: flex;
    gap: 5%;
    justify-content: center;
}

.otp-cells input {
    padding-block: unset;
    padding-inline: 1px;
    border: black solid;
    font-weight: bold;
    font-size: 20px;
    width: 35px;
    height: 35px;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
}

.otp-cells input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.otp-cells input[type=number] {
    -moz-appearance: textfield;
}

.remainingTimeOTPMessage {
    display: flex;
    justify-content: center;
    height: 40px;
}

.loader {
    display: none;
    margin-inline: auto;
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 6px;
    background:
        conic-gradient(from 135deg at top, currentColor 90deg, #0000 0) 0 calc(50% - 4px)/17px 8.5px,
        radial-gradient(farthest-side at bottom left, #0000 calc(100% - 6px), currentColor calc(100% - 5px) 99%, #0000) top right/50% 50% content-box content-box,
        radial-gradient(farthest-side at top, #0000 calc(100% - 6px), currentColor calc(100% - 5px) 99%, #0000) bottom /100% 50% content-box content-box;
    background-repeat: no-repeat;
    animation: l11 1s infinite linear;
}

@keyframes l11 {
    100% {
        transform: rotate(1turn)
    }
}
#failMessage {
    display: none;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}