@media screen and (max-width: 1024px) {
    #mapContact {
        width: 100%;
        display: block;
    }
}

@media screen and (max-width: 500px) {
    .nameAndPhone {
        flex-direction: column;
    }

    

    .nameAndPhone div {
        width: 100%;
    }

    .contactInfo > div:first-child {
        width: 100%;
    }

}

@media screen and (max-width: 700px) {
    .contactInfo img {
        display: none;
    }

}